body {
  background: #4DB8DB;
}

table {
	border: 1px solid black;
}

tr {
	background: solid black;
}

td {
	border: 1px solid black;
	width: 60px;
	height: 64px;
	padding: 0px;
	padding-left: 8px;
	text-align: center;
	align-content: center;
}

.white {
	background: white;
}

.green {
	background: green;
}

.empty {
}

.red-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: red;
}

.black-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: black;
}

.prom-red-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: darkred;
}

.prom-black-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: darkslategray;
}

.selected-red-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: red;
  box-shadow: 0 0 3px 3px yellow;
}

.selected-black-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: black;
  box-shadow: 0 0 3px 3px yellow;
}

.selected-prom-red-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: darkred;
  box-shadow: 0 0 3px 3px yellow;
}

.selected-prom-black-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: darkslategray;
  box-shadow: 0 0 3px 3px yellow;
}

.title {
  font-family: 'Roboto', sans-serif;
}

.plain-text {
  font-family: 'Slabo 27px', serif;
}
